<!DOCTYPE html>
<html lang = "en">
<head>
  <!-- head details -->
  <!-- browser website title bar -->
  <title>Cathal Chaffee</title>
  <meta charset = "UTF-8" />
  
  <!-- jquery cdn -->
  <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- locally created stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets\stylesheets\index.css">
</head>
<body>
  <header class="navbar navbar-fixed-top" style="background-color: #fff">
    <div class="container-fluid">
      <img id="logo" src="assets\images\logo.png" style="width: 100px">
    </div>
  </header>
  <img src="assets\images\snowirons.jpg" class="banner-img affix">   
  <div id="welcome-banner" class="jumbotron">
    
  </div>
  <input type="text" name="theThing" onchange="response = theThing + ' it worked'">
  <script>
    var i = 1000;
    
    for (i=0;i<100;i++) {
      document.write("<p style='font-size: 3.0em;'>" + i +"<br></p>");
    }
  </script>
</body>
</html>